@font-face {
    font-family: 'Studio Pro';
    src: local('Studio Pro SemiBold'), local('StudioPro-SemiBold'),
        url('../public/fonts/StudioPro-SemiBold.woff2') format('woff2'),
        url('../public/fonts/StudioPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'Studio Pro';
    src: local('Studio Pro UltraBold'), local('StudioPro-UltraBold'),
        url('../public/fonts/StudioPro-UltraBold.woff2') format('woff2'),
        url('../public/fonts/StudioPro-UltraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Roslindale';
  src: local('Roslindale Display Condensed Regular'), local('Roslindale-DisplayCondensedRegular'),
      url('../public/fonts/Roslindale-DisplayCondensedRegular.woff2') format('woff2'),
      url('../public/fonts/Roslindale-DisplayCondensedRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

