/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

body {
  @apply font-sans antialiased text-black bg-white selection:bg-black selection:text-white;
}

.bg-blue {
  @apply selection:bg-grey selection:text-blue;
}

.font-sans {
  @apply tracking-tighter;
}

.font-display {
  @apply font-extrabold;
}

.a11y-focus {
  @apply focus:outline-none focus-visible:ring focus-visible:ring-offset-4 focus-visible:ring-black;
}

.bg-blue {
  .a11y-focus {
    @apply focus-visible:ring-grey focus-visible:ring-offset-blue;
  }
}

.cover-image {
  img {
    @apply object-cover object-center;
  }
}

circle {
  fill: transparent;
}

/*! purgecss start ignore */
.image-x {
  content: ' ';
  @apply block absolute inset-0 h-full w-full;
  background: linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%), linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), rgba(0,0,0,1) 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%) !important;
};
/*! purgecss end ignore */